:root {
  --body-color: #fbfbfb;
  --primary-text-color: #000000;
  --secondary-text-color: #1254ff;
  --primary-accent-color: #ffb21e;
  --secondary-accent-color: #ffffff;
  --tertiary-accent-color: #fff0d2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.55;
  color: var(--primary-text-color);
  background-color: var(--body-color);
}

.container {
  margin: 0 auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 48px;
  padding-bottom: 35px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  position: relative;
  margin-right: 345px;
  font-family: 'Questrial', sans-serif;
  font-size: 48px;
  line-height: 1;
}

.header__logo::after {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 208px;
  width: 266px;
  height: 1px;
  background-color: var(--primary-text-color);
  opacity: 0.2;
}

.header__navigation {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.header__link {
  display: block;
  padding: 11px;
  font-size: 20px;
  line-height: 1.3;
  color: var(--primary-text-color);
}

.header__link:hover, .header__link:focus {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
  border-radius: 8px;
}

.hero {
  padding-top: 30px;
  padding-bottom: 65px;
}

.hero__container {
  display: flex;
}

.hero__block-text {
  max-width: 730px;
  padding-top: 35px;
  padding-right: 15px;
}

.hero__city {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: 1px;
}

.hero__title {
  margin-bottom: 16px;
  font-family: 'Questrial', sans-serif;
  font-size: 56px;
  line-height: 1.45;
}

.hero__description {
  margin-bottom: 32px;
  opacity: 0.6;
}

.button {
  padding: 16px 66px;
  font-family: 'DM Sans', sans-serif;
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.55;
  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid rgba(18, 84, 255, 0.1);
  border-radius: 8px;
}

.button:hover, .button:focus {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
  cursor: pointer;
}

.button__icon {
  margin-left: 12px;
  vertical-align: middle;
  fill: currentColor;
}

.hero__block-img {
  position: relative;
  padding-left: 15px;
}

.hero__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.hero__item {
  position: relative;
}

.hero__item:nth-child(1) {
  margin-bottom: 55px;
}

.hero__item:nth-child(2) {
  position: absolute;
  top: 267px;
  right: 300px;
}

.hero__img-name {
  position: absolute;
  padding: 16px;
  font-size: 16px;
  background-color: var(--secondary-accent-color);
  border-radius: 8px;
}

.hero__item:nth-child(1) .hero__img-name {
  top: 42px;
  left: -130px;
}

.hero__item:nth-child(2) .hero__img-name {
  top: 237px;
  left: -113px;
}

.hero__item:nth-child(3) .hero__img-name {
  top: 177px;
  left: 127px;
}

.hero__img-wrapper {
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.hero__img {
  border-radius: 50%;
}

.about {
  padding-top: 70px;
  padding-bottom: 115px;
}

.about__container {
  display: flex;
}

.about__block-img {
  padding-left: 35px;
  margin-right: 70px;
}

.about__img {
  border-radius: 50%;
}

.about__block-text {
  max-width: 670px;
}

.about__subtitle {
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 1px;
}

.about__title {
  font-family: 'Questrial', sans-serif;
  font-size: 64px;
  line-height: 1.45;
}

.about__description {
  margin-bottom: 32px;
  opacity: 0.6;
}

.about__link {
  position: relative;
  font-size: 24px;
  line-height: 1.29;
  color: var(--secondary-text-color);
}

.about__link:hover, .about__link:focus {
  color: var(--primary-accent-color);
}

.about__link-icon {
  margin-left: 12px;
  vertical-align: middle;
  fill: currentColor;
}

.facilities {
  padding-top: 115px;
  padding-bottom: 100px;
}

.facilities__subtitle {
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 1.45;
  text-align: center;
  letter-spacing: 1px;
}

.facilities__title {
  margin-bottom: 56px;
  font-family: 'Questrial', sans-serif;
  font-size: 64px;
  text-align: center;
}

.facilities__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -82px;
  margin-left: -133px;
}

.facilities__item {
  margin-top: 82px;
  margin-left: 133px;
  flex-basis: calc((100% - 3 * 133px) / 3);
}

.facilities__icon {
  display: block;
  margin-bottom: 16px;
  padding: 12px;
  fill: var(--primary-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.facilities__item:nth-child(even) .facilities__icon {
  fill: var(--secondary-text-color);
}

.facilities__item:nth-child(2) .facilities__icon {
  fill: none;
  stroke: var(--secondary-text-color);
}

.facilities__item-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 145%;
}

.facilities__description {
  font-size: 18px;
  opacity: 0.6;
}

.spaces {
  padding-top: 100px;
  padding-bottom: 140px;
}

.spaces__title {
  margin-bottom: 80px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 1px;
  text-align: center;
}

.list-spaces {
  display: flex;
}

.list-spaces__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: calc((100% - 3 * 40px) / 4);
  height: 640px;
  padding: 40px 18px;
}

.list-spaces__item:not(:last-child) {
  margin-right: 40px;
}

.list-spaces__item:hover, .list-spaces__item:focus {
  background-color: var(--tertiary-accent-color);
  border-radius: 16px;
  cursor: pointer;
}

.list-spaces__subtitle {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.29;
  text-align: center;
}

.list-spaces__description {
  margin-bottom: 64px;
  font-size: 18px;
  text-align: center;
  opacity: 0.6;
}

.list-spaces__item:nth-child(3) .list-spaces__description {
  margin-bottom: 36px;
}

.list-spaces__sublist {
  position: relative;
  padding-left: 40px;
}

.list-spaces__subitem {
  position: relative;
  font-size: 18px;
  list-style: none;
}

.list-spaces__subitem:not(:last-child) {
  margin-bottom: 10px;
}

.list-spaces__subitem::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -40px;
  width: 24px;
  height: 24px;
  background-image: url(../images/check1.svg);
}

.list-spaces__item:nth-child(even) .list-spaces__subitem::before {
  background-image: url(../images/check2.svg);
}

.list-spaces__link {
  position: relative;
  line-height: 1.29;
  color: var(--primary-accent-color);
  border: 1px solid rgba(18, 84, 255, 0.1);
  border-radius: 8px;
  padding: 16px 24px;
}

.list-spaces__item:nth-child(even) .list-spaces__link {
  color: var(--secondary-text-color);
}

.list-spaces__item:hover .list-spaces__link,
.list-spaces__item:focus .list-spaces__link {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
}

.list-spaces__link-icon {
  margin-left: 12px;
  vertical-align: middle;
  fill: currentColor;
}

.footer {
  padding-top: 140px;
  padding-bottom: 56px;
}

.footer__wrapper {
  display: flex;
  margin-bottom: 105px;
}

.footer__social {
  margin-right: 80px;
  width: 230px;
  flex-shrink: 0;
}

.footer__logo {
  margin-bottom: 16px;
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
  line-height: 1.03;
}

.footer__description {
  margin-bottom: 26px;
  font-size: 18px;
  opacity: 0.6;
}

.social-list {
  display: flex;
}

.social-list__item {
  line-height: 0;
}

.social-list__item:not(:last-child) {
  margin-right: 24px;
}

.social-list__link {
  display: block;
  fill: var(--secondary-text-color);
}

.social-list__link:hover, .social-list__link:focus {
  fill: var(--primary-accent-color);
}

.footer__links {
  margin-right: 80px;
  width: 200px;
  flex-shrink: 0;
}

.footer__links-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
}

.footer__links-item:not(:last-child) {
  margin-bottom: 24px;
}

.footer__links-link {
  font-size: 18px;
  line-height: 1.28;
  color: var(--primary-text-color);
  opacity: 0.6;
}

.footer__links-link:hover, .footer__links-link:focus {
  color: var(--primary-accent-color);
  opacity: 1;
}

.footer__community {
  margin-right: 80px;
  width: 200px;
  flex-shrink: 0;
}

.footer__community-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
}

.footer__community-item:not(:last-child) {
  margin-bottom: 24px;
}

.footer__community-link {
  font-size: 18px;
  line-height: 1.28;
  color: var(--primary-text-color);
  opacity: 0.6;
}

.footer__community-link:hover, .footer__community-link:focus {
  color: var(--primary-accent-color);
  opacity: 1;
}

.footer-form__label {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
}

.footer-form__wrapper {
  position: relative;
}

.footer-form__input {
  width: 100%;
  padding: 15px 85px 15px 15px;
  background: var(--secondary-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 18px;
  line-height: 1.28;
}

.footer-form__input::placeholder {
  font-size: 18px;
  line-height: 1.28;
  opacity: 0.6;
}

.footer-form__input:focus {
  border-color: var(--primary-accent-color);
  outline: none;
}

.footer-form__button {
  position: absolute;
  top: 50%;
  left: 243px;
  padding: 0 15px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  line-height: 0;
  transform: translateY(-50%);
}

.footer-form__button:hover, .footer-form__button:focus {
  fill: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
  cursor: pointer;
}

.footer__copyright {
  position: relative;
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.01em;
}

.footer__copyright::after {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 310px;
  width: 890px;
  height: 1px;
  background-color: var(--primary-text-color);
  opacity: 0.2;
}
/*# sourceMappingURL=main.css.map */