:root {
  --body-color: #fbfbfb;
  --primary-text-color: #000000;
  --secondary-text-color: #1254ff;
  --primary-accent-color: #ffb21e;
  --secondary-accent-color: #ffffff;
  --tertiary-accent-color: #fff0d2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.55;
  color: var(--primary-text-color);
  background-color: var(--body-color);
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
}

.wrapper__header-hero {
  background: url("../images/header/header-pattern1.png") no-repeat top left -30px, url("../images/hero/hero-pattern1.png") no-repeat top 490px right 0, url("../images/hero/hero-pattern2.png") no-repeat top 192px right 12px, url("../images/hero/hero-pattern3.png") no-repeat bottom 0 left 0;
}

.wrapper__about {
  background: url("../images/about/about-pattern1.png") no-repeat bottom 30px right -30px;
}

.wrapper__facilities-spaces {
  background: url("../images/facilities/facilities-pattern2.png") no-repeat top 10px left 895px, url("../images/facilities/facilities-pattern3.png") no-repeat top 600px left 0px, url("../images/facilities/facilities-pattern4.png") no-repeat top 335px right 0px, url("../images/facilities/facilities-pattern5.png") no-repeat top 570px right 0px, url("../images/spaces/spaces-pattern1.png") no-repeat top 820px left 0px, url("../images/spaces/spaces-pattern2.png") no-repeat top 1250px left 0px, url("../images/spaces/spaces-pattern6.png") no-repeat bottom 115px right 335px, url("../images/spaces/spaces-pattern7.png") no-repeat bottom 235px right 0px;
}

.wrapper__footer {
  background: url("../images/footer/footer-pattern1.png") no-repeat top 15px left 0px, url("../images/footer/footer-pattern2.png") no-repeat bottom 125px right 0px;
}

.container {
  margin: 0 auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 48px;
  padding-bottom: 35px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  position: relative;
  margin-right: 345px;
  font-family: 'Questrial', sans-serif;
  font-size: 48px;
  line-height: 1;
}

.header__logo::after {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 208px;
  width: 266px;
  height: 1px;
  background-color: var(--primary-text-color);
  opacity: 0.2;
}

.header__navigation {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.header__link {
  display: block;
  padding: 11px;
  font-size: 20px;
  line-height: 1.3;
  color: var(--primary-text-color);
}

.header__link:hover, .header__link:focus {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
  border-radius: 8px;
}

.hero {
  padding-top: 30px;
  padding-bottom: 65px;
}

.hero__container {
  display: flex;
}

.hero__block-text {
  max-width: 730px;
  padding-top: 35px;
  padding-right: 15px;
  background: url("../images/hero/hero-pattern4.png") no-repeat bottom 35px left 364px;
}

.hero__city {
  position: relative;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: 1px;
  position: relative;
}

.hero__city::after {
  position: absolute;
  content: '';
  top: 34px;
  left: 0;
  width: 180px;
  height: 2px;
  background-image: linear-gradient(to right, #ffb21e, rgba(255, 178, 30, 0));
}

.hero__title {
  position: relative;
  margin-bottom: 16px;
  font-family: 'Questrial', sans-serif;
  font-size: 56px;
  line-height: 1.45;
}

.hero__title::after {
  position: absolute;
  content: '';
  top: 132px;
  left: 400px;
  width: 260px;
  height: 24px;
  background-color: var(--secondary-text-color);
  opacity: 0.1;
}

.hero__description {
  margin-bottom: 32px;
  opacity: 0.6;
}

.button {
  padding: 16px 66px;
  font-family: 'DM Sans', sans-serif;
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.55;
  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid rgba(18, 84, 255, 0.1);
  border-radius: 8px;
}

.button:hover, .button:focus {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
  cursor: pointer;
}

.button__icon {
  margin-left: 12px;
  vertical-align: middle;
  fill: currentColor;
}

.hero__block-img {
  position: relative;
  padding-left: 15px;
}

.hero__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.hero__item {
  position: relative;
}

.hero__item:nth-child(1) {
  margin-bottom: 55px;
}

.hero__item:nth-child(2) {
  position: absolute;
  top: 267px;
  right: 300px;
}

.hero__img-name {
  position: absolute;
  padding: 16px;
  font-size: 16px;
  background-color: var(--secondary-accent-color);
  border-radius: 8px;
  z-index: 1;
}

.hero__item:nth-child(1) .hero__img-name {
  top: 42px;
  left: -130px;
}

.hero__item:nth-child(2) .hero__img-name {
  top: 237px;
  left: -113px;
}

.hero__item:nth-child(3) .hero__img-name {
  top: 177px;
  left: 125px;
}

.hero__img-wrapper {
  padding: 30px;
  position: relative;
}

.hero__item .hero__img-wrapper::before {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.hero__item:nth-child(1) .hero__img-wrapper::before {
  border-top: 2px solid var(--secondary-text-color);
  border-left: 2px solid var(--secondary-text-color);
  transform: rotate(-86deg);
}

.hero__item:nth-child(2) .hero__img-wrapper::before {
  border-left: 2px solid var(--primary-accent-color);
  transform: rotate(-40deg);
}

.hero__item:nth-child(3) .hero__img-wrapper::before {
  border-top: 2px solid var(--secondary-text-color);
  transform: rotate(-5deg);
}

.hero__img {
  border-radius: 50%;
}

.hero__item:not(:nth-child(2)) .hero__img {
  box-shadow: 0 10px 24px 0px rgba(18, 84, 255, 0.2);
}

.hero__item:nth-child(2) .hero__img {
  box-shadow: 0 10px 24px 0px rgba(255, 178, 30, 0.3);
}

.about {
  padding-top: 70px;
  padding-bottom: 115px;
}

.about__container {
  display: flex;
  position: relative;
}

.about__container::after {
  position: absolute;
  content: '';
  top: -50px;
  left: 85px;
  width: 172px;
  height: 172px;
  background: url("../images/about/about-pattern4.png") no-repeat;
}

.about__block-img {
  padding-left: 40px;
  margin-right: 85px;
  position: relative;
}

.about__block-img::before {
  position: absolute;
  content: '';
  bottom: -33px;
  left: 0px;
  width: 311px;
  height: 311px;
  background: url("../images/about/about-pattern2.png") no-repeat;
}

.about__block-img::after {
  position: absolute;
  content: '';
  top: -8px;
  right: -40px;
  width: 168px;
  height: 136px;
  background: url("../images/about/about-pattern3.png") no-repeat;
  z-index: -1;
}

.about__img {
  border-radius: 50%;
}

.about__block-text {
  max-width: 670px;
}

.about__subtitle {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.45;
  letter-spacing: 1px;
  position: relative;
}

.about__subtitle::after {
  position: absolute;
  content: '';
  top: 37px;
  left: 0;
  width: 120px;
  height: 2px;
  background-image: linear-gradient(to right, #1254ff, rgba(18, 84, 255, 0));
}

.about__title {
  font-family: 'Questrial', sans-serif;
  font-size: 64px;
  line-height: 1.45;
}

.about__description {
  margin-bottom: 32px;
  opacity: 0.6;
}

.about__link {
  position: relative;
  font-size: 24px;
  line-height: 1.29;
  color: var(--secondary-text-color);
}

.about__link:hover, .about__link:focus {
  color: var(--primary-accent-color);
}

.about__link-icon {
  margin-left: 12px;
  vertical-align: middle;
  fill: currentColor;
}

.facilities {
  padding-top: 100px;
  padding-bottom: 100px;
}

.facilities__container {
  background: url("../images/facilities/facilities-pattern1.png") no-repeat top 20px left 125px;
}

.facilities__subtitle {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.45;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}

.facilities__subtitle::after {
  position: absolute;
  content: '';
  top: 45px;
  left: 600px;
  width: 120px;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 178, 30, 0), #ffb21e, rgba(255, 178, 30, 0));
  transform: translateX(-50%);
}

.facilities__title {
  margin-bottom: 56px;
  font-family: 'Questrial', sans-serif;
  font-size: 64px;
  text-align: center;
}

.facilities__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -82px;
  margin-left: -133px;
}

.facilities__item {
  margin-top: 82px;
  margin-left: 133px;
  flex-basis: calc((100% - 3 * 133px) / 3);
}

.facilities__wrapper {
  width: 66px;
  height: 66px;
  position: relative;
}

.facilities__item .facilities__wrapper::before {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.facilities__item:nth-child(1) .facilities__wrapper::before {
  border-top: 1px solid var(--primary-accent-color);
  border-left: 1px solid var(--primary-accent-color);
  transform: rotate(-35deg);
}

.facilities__item:nth-child(2) .facilities__wrapper::before {
  border-right: 1px solid var(--secondary-text-color);
  transform: rotate(-15deg);
}

.facilities__item:nth-child(3) .facilities__wrapper::before {
  border-bottom: 1px solid var(--primary-accent-color);
  border-right: 1px solid var(--primary-accent-color);
}

.facilities__item:nth-child(4) .facilities__wrapper::before {
  border-top: 1px solid var(--secondary-text-color);
  border-left: 1px solid var(--secondary-text-color);
  transform: rotate(-20deg);
}

.facilities__item:nth-child(5) .facilities__wrapper::before {
  border-bottom: 1px solid var(--primary-accent-color);
  border-left: 1px solid var(--primary-accent-color);
  transform: rotate(-20deg);
}

.facilities__item:nth-child(6) .facilities__wrapper::before {
  border-top: 1px solid var(--secondary-text-color);
  border-left: 1px solid var(--secondary-text-color);
}

.facilities__icon {
  display: block;
  margin-bottom: 16px;
  padding: 12px;
  fill: var(--primary-accent-color);
}

.facilities__item:nth-child(even) .facilities__icon {
  fill: var(--secondary-text-color);
}

.facilities__item:nth-child(2) .facilities__icon {
  fill: none;
  stroke: var(--secondary-text-color);
}

.facilities__item-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 145%;
}

.facilities__description {
  font-size: 18px;
  opacity: 0.6;
}

.spaces {
  padding-top: 100px;
  padding-bottom: 140px;
}

.spaces__container {
  background: url("../images/spaces/spaces-pattern3.png") no-repeat top 65px left 210px;
}

.spaces__title {
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.45;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
}

.spaces__title::after {
  position: absolute;
  content: '';
  top: 45px;
  left: 600px;
  width: 120px;
  height: 2px;
  background-image: linear-gradient(to right, rgba(18, 84, 255, 0), #1254ff, rgba(18, 84, 255, 0));
  transform: translateX(-50%);
}

.list-spaces {
  display: flex;
  background: url("../images/spaces/spaces-pattern4.png") no-repeat bottom 60px left 195px, url("../images/spaces/spaces-pattern5.png") no-repeat top 30px right 215px;
}

.list-spaces__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: calc((100% - 3 * 40px) / 4);
  height: 640px;
  padding: 40px 18px;
  background-color: var(--secondary-accent-color);
}

.list-spaces__item:not(:last-child) {
  margin-right: 40px;
}

.list-spaces__item:hover, .list-spaces__item:focus {
  background-color: var(--tertiary-accent-color);
  border-radius: 16px;
  cursor: pointer;
}

.list-spaces__subtitle {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.29;
  text-align: center;
}

.list-spaces__description {
  margin-bottom: 64px;
  font-size: 18px;
  text-align: center;
  opacity: 0.6;
}

.list-spaces__item:nth-child(3) .list-spaces__description {
  margin-bottom: 36px;
}

.list-spaces__sublist {
  position: relative;
  padding-left: 40px;
}

.list-spaces__subitem {
  position: relative;
  font-size: 18px;
  list-style: none;
}

.list-spaces__subitem:not(:last-child) {
  margin-bottom: 10px;
}

.list-spaces__subitem::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -40px;
  width: 24px;
  height: 24px;
  background-image: url(../images/check1.svg);
}

.list-spaces__item:nth-child(even) .list-spaces__subitem::before {
  background-image: url(../images/check2.svg);
}

.list-spaces__link {
  position: relative;
  line-height: 1.29;
  color: var(--primary-accent-color);
  border: 1px solid rgba(18, 84, 255, 0.1);
  border-radius: 8px;
  padding: 16px 24px;
}

.list-spaces__item:nth-child(even) .list-spaces__link {
  color: var(--secondary-text-color);
}

.list-spaces__item:hover .list-spaces__link,
.list-spaces__item:focus .list-spaces__link {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
}

.list-spaces__link-icon {
  margin-left: 12px;
  vertical-align: middle;
  fill: currentColor;
}

.footer {
  padding-top: 140px;
  padding-bottom: 56px;
}

.footer__wrapper {
  display: flex;
  margin-bottom: 105px;
}

.footer__social {
  margin-right: 80px;
  width: 230px;
  flex-shrink: 0;
}

.footer__logo {
  margin-bottom: 16px;
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
  line-height: 1.03;
}

.footer__description {
  margin-bottom: 26px;
  font-size: 18px;
  opacity: 0.6;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__item {
  line-height: 0;
}

.social-list__link {
  display: block;
  padding: 8px;
  fill: var(--secondary-text-color);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--primary-accent-color);
  fill: var(--secondary-accent-color);
  border-radius: 8px;
}

.footer__links {
  margin-right: 80px;
  width: 200px;
  flex-shrink: 0;
}

.footer__links-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
}

.footer__links-item:not(:last-child) {
  margin-bottom: 24px;
}

.footer__links-link {
  font-size: 18px;
  line-height: 1.28;
  color: var(--primary-text-color);
  opacity: 0.6;
}

.footer__links-link:hover, .footer__links-link:focus {
  color: var(--primary-accent-color);
  opacity: 1;
}

.footer__community {
  margin-right: 80px;
  width: 200px;
  flex-shrink: 0;
}

.footer__community-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
}

.footer__community-item:not(:last-child) {
  margin-bottom: 24px;
}

.footer__community-link {
  font-size: 18px;
  line-height: 1.28;
  color: var(--primary-text-color);
  opacity: 0.6;
}

.footer__community-link:hover, .footer__community-link:focus {
  color: var(--primary-accent-color);
  opacity: 1;
}

.footer-form__label {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
}

.footer-form__wrapper {
  position: relative;
  display: block;
}

.footer-form__input {
  width: 100%;
  padding: 15px 85px 15px 15px;
  background: var(--secondary-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 18px;
  line-height: 1.28;
}

.footer-form__input::placeholder {
  font-size: 18px;
  line-height: 1.28;
  opacity: 0.6;
}

.footer-form__input:focus {
  border-color: var(--primary-accent-color);
  outline: none;
}

.footer-form__button {
  position: absolute;
  top: 50%;
  left: 243px;
  padding: 7px 15px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  line-height: 0;
  transform: translateY(-50%);
}

.footer-form__button:hover, .footer-form__button:focus {
  fill: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
  cursor: pointer;
}

.footer__copyright {
  position: relative;
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.01em;
}

.footer__copyright::after {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 310px;
  width: 890px;
  height: 1px;
  background-color: var(--primary-text-color);
  opacity: 0.2;
}
/*# sourceMappingURL=main.css.map */