:root {
  --body-color: #fbfbfb;
  --primary-text-color: #000000;
  --secondary-text-color: #1254ff;
  --primary-accent-color: #ffb21e;
  --secondary-accent-color: #ffffff;
  --tertiary-accent-color: #fff0d2;
}
